<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/materialize.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
  </head>
  <body>
    {% include 'Users/partials/_header.html' %}
    <div class="section no-pad-bot" id="index-banner">
      <div class="row">
        <div class="col s4">
          <br><br>
          <h4 class="header orange-text left-align">Add a new user</h4>
          <?php echo form_open('register_user');
            echo validation_errors();
          ?>
            <form action="register_user" method="post">
    					<label class="left-align"for="email">Email Address:</label>
    					<input type="email" name="email" value="">
              <label class="left-align"for="first_name">First Name:</label>
              <input type="text" name="first_name" value="">
              <label class="left-align"for="last_name">Last Name:</label>
              <input type="text" name="last_name" value="">
              <label class="left-align"for="password">Password</label>
              <input type="password" name="password" value="">
              <label class="left-align"for="confirm_password">Confirm Password</label>
              <input type="password" name="confirm_password" value="">
    					<input class="btn-large waves-effect waves-light orange" type="submit" value="Create">
            </form>

          </div>
          <div class="cols 4">

          </div>
          <div class="cols 6 center">

          <a class="btn waves-effect waves-light orange" href="/dashboard/admin">Return to Dashboard</a>

          </div>

      </div>

      </div>
    </div>


    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

  </body>
</html>
