<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/materialize.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
  </head>
  <body>
    {% include 'Users/partials/_header.html' %}
     <div class="section no-pad-bot" id="index-banner">
     <div class="row container">
       <div class="col s12">
         <div class="row">
           <div class="cols 6 left">
             <h4 class="header orange-text left-align">
               {{ 'Manage Users' if session['user_level'] == 'admin' else 'All Users'}}
           </h4>
           </div>
           <div class="cols 6 right">
            {% if session['user_level']=='admin'%}
               <a class="btn waves-effect waves-light orange " href="/users/new">Add new</a>
            {% endif %}
           </div>
         </div>
         <div class="row">
           <div class="col s12">
             <table class="striped">
               <thead>
                 <tr>
                   <th>id</th>
                   <th>Name</th>
                   <th>email</th>
                   <th>created_at</th>
                   <th>user_level</th>
                   {% if session['user_level']=='admin'%}
                   <th>actions</th>
                   {% endif %}
                 </tr>
               </thead>
               <tbody>
                 {% for user in users%}
                 <tr>
                   <td>{{user['user_id']}}</td>
                   <td><a href="/users/show/{{user['user_id']}}">{{user['name']}}</a></td>
                   <td>{{user['email']}}</td>
                   <td>{{user['created_on']}}</td>
                   <td>{{user['user_level']}}</td>
                   {% if session['user_level']=='admin'%}
                   <td><a  href="/users/edit/{{user['user_id']}}{% set delete_id = user['user_id']%}">edit</a> <a class="modal-trigger" onclick="Modal_id({{ user['user_id']}})" href="#modal">remove</a>
                   </td>
                   {% endif %}
                 </tr>
                 {%endfor%}
                 <div id='modal' class="modal" data="">
                   <div class="modal-content">
                     <h4>Delete user <span class="modal_id"></span>?</h4>
                     <p>
                       User #<span class="modal_id"></span> will be deleted permanently.
                     </p>
                   </div>
                   <div class="modal-footer">
                     <a id= "modal_delete" href="">Delete</a>
                   </div>
                 </div>
               </tbody>
             </table>
           </div>
         </div>
     </div>
   </div>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/init.js') }}"></script>
    <script type="text/javascript">
      function Modal_id(id){
        $("#modal_delete").attr("href","/delete_user/"+id)
        $(".modal_id").text(id)
      }
    </script>
  </body>
</html>
