<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/materialize.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
  </head>
  <body>
    {% include 'Users/partials/_header.html' %}
    <div class="section no-pad-bot" id="index-banner">
      <div class="row">
        <div class="col s1">
        <p></p>
        </div>
        <div class="col s10">
          <div class="row">
            <div class="cols 6 left">
              <h4 class="header orange-text left-align ">
                <!-- // if info['id'] == $profile['id']
                //  Edit profile
                //else{
                // Edit user  + profile['id'] -->

                </h4>
            </div>
            <div class="cols 6 right">
              <!-- // if info['user_level'] == 'admin') -->
                  <a class="btn waves-effect waves-light orange " href="/dashboard/admin">Return to Dashboard</a>
              <!-- //endif -->

            </div>
          </div>
          <div class="row">
            <div class="col s5">
              <p>Edit Information</p>
              <form action="/users/edit_information" method="post">
      					<label class="left-align"for="email">Email Address:</label>
      					<input type="email" name="email" value="<?php echo $profile['email'] ?>">
                <label class="left-align"for="first_name">First Name:</label>
                <input type="text" name="first_name" value="<?php echo $profile['first_name'] ?>">
                <label class="left-align"for="last_name">Last Name:</label>
                <input type="text" name="last_name" value="<?php echo $profile['last_name'] ?>">
                <label class="left-align" for="user_level">User Level</label>
                <div class="input-field">
                  <select  name="user_level">
                    <!-- //pre-select the current user level -->
                    <option
                    <!-- if profile['user_level'] == 'normal' display "selected" -->
                    value = "normal">Normal</option>
                    <option
                    //if  profile['user_level'] == 'admin' display "selected"
                    value = "admin">Admin</option>
                  </select>
                </div>

      					<input class="btn waves-effect waves-light orange" type="submit" value="Save">

              </form>
            </div>
            <div class="col s5">
              <p>Change Password</p>
              <form action="/users/edit_password" method="post">
                <label class="left-align"for="password">Password</label>
                <input type="password" name="password" value="">
                <label class="left-align"for="confirm_password">Confirm Password</label>
                <input type="password" name="confirm_password" value="">
      					<input class="btn waves-effect waves-light orange" type="submit" value="update password">
              </form>
            </div>
          </div>
          <div class="row">
            <p>Edit Description</p>
            <form class="" action="/users/edit_description" method="post">
              <label for="description"></label>
              <textarea name="description">profile['description'] </textarea>
    					<input class="btn waves-effect waves-light orange" type="submit" value="save">
            </form>
          </div>
        </div>

      </div>
      <div class="col s1">
        <p></p>
      </div>
    </div>


    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

  </body>
</html>
