<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/materialize.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
  </head>
  <body>
    {% include 'Users/partials/_header.html' %}
    <div class="section no-pad-bot" id="index-banner">
      <div class="row">
        <div class="col s1">
        <p></p>
        </div>
        <div class="col s10">
          <br><br>

          <h4 class="header orange-text left-align">
            //profile['first_name'] profile['last_name'];
          </h4>
          <div class="row">
            <div class="col s12">
              <p><label class="info" >Registered at:</label>profile['created_on']</p>
              <p><label class="info" >User ID:</label>profile['id']</p>
              <p><label class="info" >Email address:</label> profile['email'] </p>
              <p><label class="info" >Description:</label> profile['description'] </p>
              <b>Leave a message for  profile['first_name'] </b>
              <form class="" action="index.html" method="post">
                <label for="new_message"></label>
                <textarea name="new_message"></textarea>
                <input class="btn waves-effect waves-light orange right" type="submit" value="post">
              </form>
            </div>
            <div class="row">
              <div class="col s6"><a href="#">Mark Guillen</a> wrote</div>
              <div class="col s6 right-align">7 hours ago</div>
              <div class="row">
                <div class="col s12 message">
                    Hi Michael! I am having fun building Boom YEAH!
                </div>

              </div>
            </div>
            <div class="row">
              <div class="col s1">
                <p>

                </p>
              </div>
              <div class="col s11">
                <div class="row">
                  <div class="col s8"><a href="#">Diana Manlulu</a> wrote</div>
                  <div class="col s4 right-align">23 minutes ago</div>
                  <div class="row">
                    <div class="col s12 message">
                        Awesome!
                    </div>
                    <form class="" action="index.html" method="post">
                      <label for="new_message"></label>
                      <textarea name="new_message" placeholder="write a message"></textarea>
                      <input class="btn waves-effect waves-light orange right" type="submit" value="post">
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col s6"><a href="#">Mark Guillen</a> wrote</div>
              <div class="col s6 right-align">January 5th 2013</div>
              <div class="row">
                <div class="col s12 message">
                    Hi Michael! I am having fun building Boom YEAH!
                </div>

              </div>
            </div>
            <div class="row">
              <div class="col s1">
                <p>

                </p>
              </div>
              <div class="col s11">
                <div class="row">
                  <div class="col s8"><a href="#">Diana Manlulu</a> wrote</div>
                  <div class="col s4 right-align">January 6th 2013</div>
                  <div class="row">
                    <div class="col s12 message">
                        Awesome!
                    </div>
                    <form class="" action="index.html" method="post">
                      <label for="new_message"></label>
                      <textarea name="new_message" placeholder="write a message"></textarea>
                      <input class="btn waves-effect waves-light orange right" type="submit" value="post">
                    </form>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col s12">
              <div class="row">


              </div>
            </div>


          </div>
        </div>

      </div>
      <div class="col s1">
        <p></p>
      </div>
    </div>


    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

  </body>
</html>
