<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/materialize.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
  </head>
  <body>
    {% include 'Users/partials/_header_signed_out.html' %}
    <div class="section no-pad-bot" id="index-banner">
      <div class="container">
        <br><br>
        <h1 class="header center orange-text">Welcome to the Test</h1>
        <div class="row center">
          <h5 class="header col s12 light">We're going to build a cool application using an MVC framework! This application was built with the Village88 folks</h5>
        </div>
        <div class="row center">
          <a href="/signin" id="download-button" class="btn-large waves-effect waves-light orange">Start</a>
        </div>
        <br><br>
      </div>
    </div>
    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s12 m4">
            <div class="icon-block">
              <h5 class="center">Manage Users</h5>
              <p class="light">Using this application, you'll learn how to add, remove, and edit users for the application.</p>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="icon-block">
              <h5 class="center">Leave messages</h5>
              <p class="light">Users will be able to to leave a message to another user using this application.</p>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="icon-block">
              <h5 class="center">Edit User Information</h5>
              <p class="light">Admins will be able to edit another user's information (email address, first name, last name, etc)</p>
            </div>
          </div>
        </div>
      </div>
      <br><br>
    </div>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  </body>
</html>
