<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/materialize.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

   <div class="row">
     <h3>Welcome!</h3>
<!-- validation errors -->
     <div class="col s6">
       <h4>Register</h4>
       <form class="" action="/register" method="post">
         <label for="name">Name:</label><input type="text" name="name" value="">
         <label for="alias">Alias:</label><input type="text" name="alias" value="">
         <label for="email">Email:</label><input type="email" name="email" value="">
         <label for="password">Password:</label><input type="password" name="password" value="">
         <label for="confirm_pw">Confirm PW:</label><input type="password" name="confirm_pw" value="">
         <input class='btn'type="submit" value="Register">
       </form>

     </div>
     <div class="col s6">
        <h4>Login</h4>
       <form class="" action="/login" method="post">
         <label for="email">Email:</label><input type="text" name="email" value="">
         <label for="password">Password:</label><input type="password" name="password" value="">
         <input class='btn' type="submit"value="Login">
       </form>
     </div>

   </div>
   <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
   <!-- Compiled and minified JavaScript -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
   <script src="{{ url_for('static', filename='js/init.js') }}"></script>
  </body>
</html>
